
        <div class="login-bubble">
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <br>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Login</button>
            </form>
            <!-- Link to sign-up page -->
            <p>No account? <a href="/account/register">Sign-up</a></p>
        </div>
