<%- include('./partials/hero') %>
<div class="container">
    <div class="half-width upgrades">
        <h3>Delorean Upgrades</h3>
    <div class="button-grid">
        <div class="button-container">
          <div class="button">
            <div class="button-content">
              <div id="one"></div>
              <p>Flux Capacitor</p>
            </div>
          </div>
        </div>
      
        <div class="button-container">
          <div class="button">
            <div class="button-content">
              <div id="two"></div>
              <p>Flame Decals</p>
            </div>
          </div>
        </div>
      
        <div class="button-container">
          <div class="button">
            <div class="button-content">
              <div id="three"></div>
              <p>Bumper Stickers</p>
            </div>
          </div>
        </div>
      
        <div class="button-container">
          <div class="button">
            <div class="button-content">
              <div id="four"></div>
              <p>Hub Caps</p>
            </div>
          </div>
        </div>
      </div>
</div>



<div class="half-width reviews">
    <h3>DMC Delorean Reviews</h3>
    <ul>
        <li>
            "So fast it's almost like traveling in time. (4/5)" 
        </li>
        <li>"A thrilling ride that leaves you breathless. (5/5)"</li>
        <li>"Incredible speed, feels like flying. (4.5/5)"</li>
        <li>"Zooming past at warp speed, a futuristic experience. (4.5/5)"</li>
        <li>"Speeding through the landscape, the world blurs by. (4/5)"</li>
    </ul>
</div>
</div>