*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #242332;
}

a:visited {
  color: #242332;
}

a:hover {
  color: gray;
}

a:active {
  color: darkgray;
}

#top-header {
  position: relative;
}

#tools {
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  background-color: #242332;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 10px;
  color: white;
}

nav li a, nav li a:visited {
  color: white;
}

.hero h3, .hero p {
  color: #01B0D3;
  margin: 0;
}

#carimage {
  background-image: url(../images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  background-position: 100px 0;
}

#ad {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 20px;
}

.click {
  margin-top: 5px;
  background-color: #01B0D3;
  color: 242332;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
}

.click:hover {
  background-color: #00759F;
  color: white;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #01B0D3;
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #00759F;
}

.button-content {
  text-align: center;
}

.button h2 {
  margin: 0;
  font-size: 18px;
}

.button p {
  margin: 0;
  font-size: 14px;
}

.upgrades {
  text-align: center;
}

#one {
  height: 50px;
  background-image: url(../images/upgrades/flux-cap.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#two {
  height: 50px;
  background-image: url(../images/upgrades/flame.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#three {
  height: 50px;
  background-image: url(../images/upgrades/bumper_sticker.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#four {
  height: 50px;
  background-image: url(../images/upgrades/hub-cap.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews li {
  color: #242332;
}


/* inventory individual */

.inventory-details {
  background-color: #242332;
  padding: 25px;
  color: white;
  border: solid #01B0D3 2px;
  border-radius: 15px;
}

.inventory-details img {
  width: 100%;
  border-radius: 10px;
}

ul#inv-display {
  background-color: #242332;
  padding: 25px;
  border: solid #01B0D3 2px;
  border-radius: 15px;
  text-align: center;
  list-style-type: none;
}

ul#inv-display li {
  background-color: #01B0D3;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

.login-bubble {
  background-color: #32475C;
  border: solid 3px gray;
  border-radius: 15px;
  max-width: 90%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

form {
  display: inline-block;

  text-align: left;
  margin: auto;
  color: white;
}

input {
  border-radius: 5px;
  margin-bottom: 5px;
  height: 30px;
}

form button {
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center;
  margin-left: 60px;
}

#show-password {
  position: relative;
  top: -34px;
  left: 125px;
}

@media (min-width: 600px) {
  html {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 400px 400px;
  }

  body {
    margin: 10px auto;
    width: 80%;
    border: solid 4px #01B0D3;
    border-radius: 5px;
    padding: 10px;
  }

  .container {
    display: flex;
  }

  .half-width {
    width: 50%;
  }

  .inventory-details {
    max-width: 50%;
    margin: auto;
  }
}